<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Proyecto Links</title>
        <script src="https://d3js.org/d3.v3.min.js"></script>  
        <script src="https://d3js.org/d3.v6.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
    <body>
        <select id="select" onchange= "WeekdayValor()">
<option value=weekday>Weekdays only
<option value=sunday>Sunday-based weeks
<option value=monday>Monday-based weeks
</select>
    </body>
<script src= "js/jquery-csv.js"></script>
<script src="js/Script1.js"></script>

</html>